# DAV 5400 Module 10 Assignment

In [23]:
#Load the pandas library
import pandas as pd

# read contents of a csv file from GitHub into a Pandas DataFrame
df = pd.read_csv('https://raw.githubusercontent.com/anagh3395/DAV5400/main/Module10/M10_Data.csv')
df

   Month     Category      Caltex        Gulf       Mobil
0   Open   Engine Oil  140 :  000  199 :  000  141 :  000
1    NaN  GearBox Oil  198 :  000  132 :  000  121 :  000
2    Jan   Engine Oil  170 :  103  194 :  132  109 :  127
3    NaN  GearBox Oil  132 :  106  125 :  105  191 :  100
4    Feb   Engine Oil  112 :  133  138 :  113  171 :  101
5    NaN  GearBox Oil  193 :  148  199 :  119  134 :  127
6    Mar   Engine Oil  184 :  100  141 :  141  114 :  108
7    NaN  GearBox Oil  138 :  121  172 :  133  193 :  115
8    Apr   Engine Oil  149 :  150  117 :  118  117 :  118
9    NaN  GearBox Oil  185 :  125  191 :  133  119 :  121
10   May   Engine Oil  170 :  139  104 :  119  200 :  117
11   NaN  GearBox Oil  168 :  117  138 :  102  121 :  146
12   Jun   Engine Oil  159 :  129  170 :  138  169 :  105
13   NaN  GearBox Oil  107 :  129  195 :  141  141 :  112

#### 1.1 Use your knowledge of combining and reshaping data in Pandas to tidy and transform/reshape the data contained within the dataframe.

Why is this data untidy ?

The data is not in a format that is easy to analyze. The 'Month' column has NaN values, and the 'Oil Purchased:Consumption' column contains both the oil purchased and consumption values in the same column, separated by a colon. This makes it difficult to distinguish between the two values without additional clarification. Additionally, one row contains multiple column values.

We can do the following to untidy data -

- Impute the missing values in the 'Month' column.
- Split the 'Oil Purchased:Consumption' column into two separate columns, one for oil purchased and one for consumption.
- Convert the 'Oil Purchased' and 'Consumption' columns to numeric data types.
- Once the data is cleaned, it will be easier to analyze.

Defining a Single Observation:

A single observation in the long format would represent a single purchase or consumption of oil. This means that each row in the long format table would correspond to a single transaction involving a specific oil type, brand, month, quantity of oil purchased and quantity of oil consumed

Columns for the Long Structure:

- Oil Type: Type of oil (engine oil or gearbox oil)

- Manufacturer: Brand of oil (Caltex, Gulf, or Mobil)

- Month: Month in which the transaction occurred

- Purchased amount - The number of gallon of oil purchased.

- Consumed amount - The number of gallons of oil consumed.

In [25]:
# This line of code reshapes the DataFrame 'df' into a tidy format using the melt function from pandas.
# The 'id_vars' parameter specifies the columns to be used as the index of the new DataFrame,
# and the 'var_name' and 'value_name' parameters specify the names of the new variable columns.
df_tidy = pd.melt(df, id_vars=['Month', 'Category'], var_name='Manufacturer', value_name='Quantity')


# This line of code splits the 'Quantity' column of the DataFrame 'df_tidy' into two new columns,
# 'Purchased' and 'Consumed', using the delimiter ': '. The 'expand=True' parameter
# tells the `str.split()` method to expand the split values into separate columns.
df_tidy[['Purchased', 'Consumed']] = df_tidy['Quantity'].str.split(' : ', expand=True)

In [27]:
df_tidy

   Month     Category Manufacturer    Quantity Purchased Consumed
0   Open   Engine Oil       Caltex  140 :  000       140      000
1    NaN  GearBox Oil       Caltex  198 :  000       198      000
2    Jan   Engine Oil       Caltex  170 :  103       170      103
3    NaN  GearBox Oil       Caltex  132 :  106       132      106
4    Feb   Engine Oil       Caltex  112 :  133       112      133
5    NaN  GearBox Oil       Caltex  193 :  148       193      148
6    Mar   Engine Oil       Caltex  184 :  100       184      100
7    NaN  GearBox Oil       Caltex  138 :  121       138      121
8    Apr   Engine Oil       Caltex  149 :  150       149      150
9    NaN  GearBox Oil       Caltex  185 :  125       185      125
10   May   Engine Oil       Caltex  170 :  139       170      139
11   NaN  GearBox Oil       Caltex  168 :  117       168      117
12   Jun   Engine Oil       Caltex  159 :  129       159      129
13   NaN  GearBox Oil       Caltex  107 :  129       107      129
14  Open   Engine Oil         Gulf  199 :  000       199      000
15   NaN  GearBox Oil         Gulf  132 :  000       132      000
16   Jan   Engine Oil         Gulf  194 :  132       194      132
17   NaN  GearBox Oil         Gulf  125 :  105       125      105
18   Feb   Engine Oil         Gulf  138 :  113       138      113
19   NaN  GearBox Oil         Gulf  199 :  119       199      119
20   Mar   Engine Oil         Gulf  141 :  141       141      141
21   NaN  GearBox Oil         Gulf  172 :  133       172      133
22   Apr   Engine Oil         Gulf  117 :  118       117      118
23   NaN  GearBox Oil         Gulf  191 :  133       191      133
24   May   Engine Oil         Gulf  104 :  119       104      119
25   NaN  GearBox Oil         Gulf  138 :  102       138      102
26   Jun   Engine Oil         Gulf  170 :  138       170      138
27   NaN  GearBox Oil         Gulf  195 :  141       195      141
28  Open   Engine Oil        Mobil  141 :  000       141      000
29   NaN  GearBox Oil        Mobil  121 :  000       121      000
30   Jan   Engine Oil        Mobil  109 :  127       109      127
31   NaN  GearBox Oil        Mobil  191 :  100       191      100
32   Feb   Engine Oil        Mobil  171 :  101       171      101
33   NaN  GearBox Oil        Mobil  134 :  127       134      127
34   Mar   Engine Oil        Mobil  114 :  108       114      108
35   NaN  GearBox Oil        Mobil  193 :  115       193      115
36   Apr   Engine Oil        Mobil  117 :  118       117      118
37   NaN  GearBox Oil        Mobil  119 :  121       119      121
38   May   Engine Oil        Mobil  200 :  117       200      117
39   NaN  GearBox Oil        Mobil  121 :  146       121      146
40   Jun   Engine Oil        Mobil  169 :  105       169      105
41   NaN  GearBox Oil        Mobil  141 :  112       141      112

We dont actually need the 'Quantity' column now . So we can remove it

In [28]:
df_tidy = df_tidy.drop(columns=['Quantity'])
df_tidy

   Month     Category Manufacturer Purchased Consumed
0   Open   Engine Oil       Caltex       140      000
1    NaN  GearBox Oil       Caltex       198      000
2    Jan   Engine Oil       Caltex       170      103
3    NaN  GearBox Oil       Caltex       132      106
4    Feb   Engine Oil       Caltex       112      133
5    NaN  GearBox Oil       Caltex       193      148
6    Mar   Engine Oil       Caltex       184      100
7    NaN  GearBox Oil       Caltex       138      121
8    Apr   Engine Oil       Caltex       149      150
9    NaN  GearBox Oil       Caltex       185      125
10   May   Engine Oil       Caltex       170      139
11   NaN  GearBox Oil       Caltex       168      117
12   Jun   Engine Oil       Caltex       159      129
13   NaN  GearBox Oil       Caltex       107      129
14  Open   Engine Oil         Gulf       199      000
15   NaN  GearBox Oil         Gulf       132      000
16   Jan   Engine Oil         Gulf       194      132
17   NaN  GearBox Oil         Gulf       125      105
18   Feb   Engine Oil         Gulf       138      113
19   NaN  GearBox Oil         Gulf       199      119
20   Mar   Engine Oil         Gulf       141      141
21   NaN  GearBox Oil         Gulf       172      133
22   Apr   Engine Oil         Gulf       117      118
23   NaN  GearBox Oil         Gulf       191      133
24   May   Engine Oil         Gulf       104      119
25   NaN  GearBox Oil         Gulf       138      102
26   Jun   Engine Oil         Gulf       170      138
27   NaN  GearBox Oil         Gulf       195      141
28  Open   Engine Oil        Mobil       141      000
29   NaN  GearBox Oil        Mobil       121      000
30   Jan   Engine Oil        Mobil       109      127
31   NaN  GearBox Oil        Mobil       191      100
32   Feb   Engine Oil        Mobil       171      101
33   NaN  GearBox Oil        Mobil       134      127
34   Mar   Engine Oil        Mobil       114      108
35   NaN  GearBox Oil        Mobil       193      115
36   Apr   Engine Oil        Mobil       117      118
37   NaN  GearBox Oil        Mobil       119      121
38   May   Engine Oil        Mobil       200      117
39   NaN  GearBox Oil        Mobil       121      146
40   Jun   Engine Oil        Mobil       169      105
41   NaN  GearBox Oil        Mobil       141      112

We still see that the 'Month' column has a lot of 'NAN' values . Based on the content of the original dataframe it seems that the 'NAN' values in the 'Month' column should be filled with 'Month' value of the preceding row.

In [29]:
# Fill in missing values in the 'Month' column using the forward-filling method ('ffill').
# This method replaces missing values with the most recently seen valid value.
# The 'inplace=True' parameter modifies the DataFrame in-place, without creating a copy.
df_tidy['Month'].fillna(method='ffill', inplace=True)

In [31]:
df_tidy

   Month     Category Manufacturer Purchased Consumed
0   Open   Engine Oil       Caltex       140      000
1   Open  GearBox Oil       Caltex       198      000
2    Jan   Engine Oil       Caltex       170      103
3    Jan  GearBox Oil       Caltex       132      106
4    Feb   Engine Oil       Caltex       112      133
5    Feb  GearBox Oil       Caltex       193      148
6    Mar   Engine Oil       Caltex       184      100
7    Mar  GearBox Oil       Caltex       138      121
8    Apr   Engine Oil       Caltex       149      150
9    Apr  GearBox Oil       Caltex       185      125
10   May   Engine Oil       Caltex       170      139
11   May  GearBox Oil       Caltex       168      117
12   Jun   Engine Oil       Caltex       159      129
13   Jun  GearBox Oil       Caltex       107      129
14  Open   Engine Oil         Gulf       199      000
15  Open  GearBox Oil         Gulf       132      000
16   Jan   Engine Oil         Gulf       194      132
17   Jan  GearBox Oil         Gulf       125      105
18   Feb   Engine Oil         Gulf       138      113
19   Feb  GearBox Oil         Gulf       199      119
20   Mar   Engine Oil         Gulf       141      141
21   Mar  GearBox Oil         Gulf       172      133
22   Apr   Engine Oil         Gulf       117      118
23   Apr  GearBox Oil         Gulf       191      133
24   May   Engine Oil         Gulf       104      119
25   May  GearBox Oil         Gulf       138      102
26   Jun   Engine Oil         Gulf       170      138
27   Jun  GearBox Oil         Gulf       195      141
28  Open   Engine Oil        Mobil       141      000
29  Open  GearBox Oil        Mobil       121      000
30   Jan   Engine Oil        Mobil       109      127
31   Jan  GearBox Oil        Mobil       191      100
32   Feb   Engine Oil        Mobil       171      101
33   Feb  GearBox Oil        Mobil       134      127
34   Mar   Engine Oil        Mobil       114      108
35   Mar  GearBox Oil        Mobil       193      115
36   Apr   Engine Oil        Mobil       117      118
37   Apr  GearBox Oil        Mobil       119      121
38   May   Engine Oil        Mobil       200      117
39   May  GearBox Oil        Mobil       121      146
40   Jun   Engine Oil        Mobil       169      105
41   Jun  GearBox Oil        Mobil       141      112

In [32]:
df_tidy.dtypes

Month           object
Category        object
Manufacturer    object
Purchased       object
Consumed        object
dtype: object

The 'Purchased' and 'Consumed' column is of type object . Rather they should be integer.

In [33]:
# Convert the 'Purchased' and 'Consumed' column to numeric data type, using the 'coerce' error handling method.
# This method converts invalid values to NaN instead of raising an error.
df_tidy['Purchased'] = pd.to_numeric(df_tidy['Purchased'], errors='coerce')
df_tidy['Consumed'] = pd.to_numeric(df_tidy['Consumed'], errors='coerce')

df_tidy.dtypes

Month           object
Category        object
Manufacturer    object
Purchased        int64
Consumed         int64
dtype: object

#### 1.2 Using your reshaped/transformed data, perform analysis to answer the following questions:

#### What was the amount of oil remaining at the end of the chronological period for each pair of oil types / brands?

In [34]:
# Calculate the total purchased and consumed oil for each category and Manufacturer
net_oil = df_tidy.groupby(['Category', 'Manufacturer']).agg(
    {'Purchased': 'sum', 'Consumed': 'sum'}
).reset_index()

This step uses the groupby() method to group the 'df_tidy' DataFrame by 'Category' and 'Manufacturer'. Then, it applies the agg() function to aggregate the 'Purchased' and 'Consumed' columns for each group. The sum() function is used to calculate the total purchased and consumed oil for each group. Finally, the reset_index() method is used to convert the grouped DataFrame back into a standard DataFrame.

In [35]:
# Add a new column 'Remaining' that calculates the remaining oil by subtracting consumed oil from purchased oil
net_oil['Remaining'] = net_oil['Purchased'] - net_oil['Consumed']

This step adds a new column named 'Remaining' to the 'net_oil' DataFrame. The new column is calculated by subtracting the 'Consumed' column from the 'Purchased' column. This provides the total remaining oil for each category and Manufacturer.

In [36]:
net_oil

      Category Manufacturer  Purchased  Consumed  Remaining
0   Engine Oil       Caltex       1084       754        330
1   Engine Oil         Gulf       1063       761        302
2   Engine Oil        Mobil       1021       676        345
3  GearBox Oil       Caltex       1121       746        375
4  GearBox Oil         Gulf       1152       733        419
5  GearBox Oil        Mobil       1020       721        299

#### At the end of the chronological period, what was the most consumed brand of oil for each of the two separate types of oil?

In [37]:
# Calculate the total oil consumption for each category and Manufacturer
total_oil_consumption = df_tidy.groupby(['Category', 'Manufacturer'])['Consumed'].sum().reset_index()

This step utilizes the groupby() method to group the df_tidy DataFrame by Category and Manufacturer. Then, it applies the sum() function to aggregate the Consumed column for each group, calculating the total oil consumption for each category and company. Finally, the reset_index() method is used to convert the grouped DataFrame back into a standard DataFrame

In [38]:
# Identify the category with the highest overall oil consumption
most_consumed_category = total_oil_consumption.groupby('Category')['Consumed'].idxmax()

This step identifies the category with the highest overall oil consumption by employing the idxmax() function within the groupby() operation. The idxmax() function locates the index of the row that contains the maximum value for the Consumed column within each category group. The resulting indices are then stored in the most_consumed_category variable.

In [42]:
# Filter the 'total_oil_consumption' DataFrame to include only the row corresponding to the category with the highest consumption
most_consumed_category = total_oil_consumption.loc[most_consumed_category]
most_consumed_category

      Category Manufacturer  Consumed
1   Engine Oil         Gulf       761
3  GearBox Oil       Caltex       746

#### 1.3 Describe what, if any, changes you would make to the visual presentation of the data if you were then asked to transform your “long” data back into a “wide”format:

The choice of whether to present data in long or wide format depends on the specific context and the intended use of the data. In the case of the oil inventory data, the long format is suitable for analysis and manipulation, as it allows for easy filtering, aggregation, and joining of data from different sources. However, for visual presentation, a wide format can be more effective in conveying the overall trends and patterns in the data.


However, according to me , a better approach  would be to pivot the data into a wide format that emphasizes the transaction type (Opening Inventory, Purchased, or Consumed) and the corresponding quantity values. This could be more informative for understanding the movement of inventory over time, as it would clearly distinguish between initial inventory levels, stock increases, and stock decreases.

In [43]:
df_wide = df_tidy.pivot_table(
    index=['Month', 'Category'],  # Define the rows of the pivot table
    columns='Manufacturer',  # Define the columns of the pivot table
    values=['Purchased', 'Consumed'],  # Specify the columns to aggregate
    aggfunc='sum'  # Define the aggregation function to apply
).reset_index()  # Convert the pivot table back to a DataFrame

df_wide

             Month     Category Consumed            Purchased
Manufacturer                      Caltex Gulf Mobil    Caltex Gulf Mobil
0              Apr   Engine Oil      150  118   118       149  117   117
1              Apr  GearBox Oil      125  133   121       185  191   119
2              Feb   Engine Oil      133  113   101       112  138   171
3              Feb  GearBox Oil      148  119   127       193  199   134
4              Jan   Engine Oil      103  132   127       170  194   109
5              Jan  GearBox Oil      106  105   100       132  125   191
6              Jun   Engine Oil      129  138   105       159  170   169
7              Jun  GearBox Oil      129  141   112       107  195   141
8              Mar   Engine Oil      100  141   108       184  141   114
9              Mar  GearBox Oil      121  133   115       138  172   193
10             May   Engine Oil      139  119   117       170  104   200
11             May  GearBox Oil      117  102   146       168  138   121
12            Open   Engine Oil        0    0     0       140  199   141
13            Open  GearBox Oil        0    0     0       198  132   121

The above code effectively transforms the 'df_tidy' DataFrame from a long format, where each row represents a single transaction, to a wide format, where each row represents a specific month and oil type, and each column represents a different oil manufacturer. This transformation allows for easier comparison of inventory levels and consumption patterns across different months, oil types, and suppliers.

Why this format?

- The wide format makes it easier to compare inventory levels and consumption patterns across different months, oil types, and suppliers. This is because the data is organized in a way that highlights the relationships between these different dimensions.

- The wide format is also more flexible when it comes to data visualization. For example, it can be used to create line charts that show how inventory levels or consumption patterns have changed over time for different oil types and suppliers.